* {
    padding: 0;
    margin: 0;
}

body {
    font-size: 16px;
    color: black;
    height: 100%;
}

a {
    color: inherit;
    text-decoration: none;
}

img {
    display: block;
}

ul {
    list-style: none;
}

#container {
    background: url("../images/background_aboutme.jpg") no-repeat;
    /* height: 5500px; */
    height: 4300px;
    overflow: hidden;
}

#content {
    width: 1200px;
    margin: 0 auto;
}

#nav>ul {
    display: flex;
    justify-content: space-around;
    width: 1000px;
    margin: 0 auto;
    padding: 20px 100px 40px 100px;
}

#nav>ul>li {
    font-size: 17px;
    text-align: center;
}

#content>h1 {
    font-size: 50px;
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: 700;
    font-size: 77px;
    margin: 130px 0px 340px 0px;
}

#bar>ul {

    padding: 0px 30px;
    padding-bottom: 6px;
    border-bottom: 2px solid rgb(223, 223, 223);
    display: flex;
}

#bar>ul>li {
    font-size: 20px;
    letter-spacing: -1px;
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: 500;
    position: relative;
}

#bar>ul>li>span {
    position: absolute;
    font-size: 9px;
    top: 8px;
    left: -18px;
}

#bar>ul>li:nth-child(2) {
    margin-left: 40px;
    color: rgb(223, 223, 223);
}

#bar>ul>li:nth-child(3) {
    margin-left: auto;
    margin-right: 20px;
}

#introduce {
    display: flex;
    margin: 200px 0px 280px 0px;
    justify-content: center;
}

#introduce>img {
    /* width: 530px;
    margin-right: 50px; */

    width: 340px;
    margin-right: 120px;
}


#introduce>#intro {
    font-family: 'Noto Sans KR', sans-serif;

}

#introduce>#intro>h2 {
    font-weight: 600;
    font-size: 30px;
    margin-bottom: 7px;
}
#introduce>#intro>p{
    margin-bottom: 30px;
}
#per_info {
    margin-bottom: 30px;
    font-size: 18px;
}

#skill {
    text-align: center;
    font-family: 'Noto Sans KR', sans-serif;
    margin-bottom: 250px;
}

#skill>h6 {
    color: rgb(249, 103, 70);
    font-weight: 400;
    font-size: 16px;
}

#skill>h2 {
    font-size: 50px;
    font-weight: 600;
    margin-bottom: 70px;
}

#skill_items>ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

#skill_items>ul>li>img {
    width: 100px;
}

#history {
    display: flex;
    margin-bottom: 250px;
    font-family: 'Noto Sans KR', sans-serif;
}

#pro_ex {
    width: 50%;
    padding: 180px 0px 320px 90px;
}

#pro_ex>h2 {
    font-size: 50px;
    font-weight: 600;
}


#pro_ex>h2 {
    margin-bottom: 20px;
}

#pro_ex>#port_btn {
    cursor: pointer;
    background-color: rgb(249, 103, 70);
    color: white;
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: 500;
    border-radius: 50px;
    font-size: 18px;
    display: block;
    width: 160px;
    height: 60px;
    text-align: center;
    margin-top: 40px;
    line-height: 58px;
}

#his_hourly {
    width: 50%;
}
#por_Box{
    display: flex;
    margin-bottom: 70px;
    position: relative;
}
#por_smallbox {
    display: flex; 
}

.year {
    margin-top: 10px;
}
.ball{
    width: 14px;
    height: 14px;
    border-radius: 50%;
    background-color: rgb(249, 103, 70);
    border: 7px solid rgb(255,222,223);
    margin: 10px 15px 0px 15px;
}

.por_img{
    margin: 0px 50px;
    height: 90px;
}

#his_hourly>ul>li:nth-child(3) #por_smallbox>img{
    margin: 0px 80px;
}

#por_name {
    margin-bottom: 20px;
}

#por_name>h3 {
    font-size: 25px;
    font-weight: 600;
    margin-bottom: 7px;
}

#por_name>h6 {
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 2px;
}


#por_Box>li:nth-child(2):before {
    position: absolute;
    left: 114.5px;;
    top: 40px;
    content: "";
    width: 2px;
    height: 222px;
    background-color: rgb(216, 216, 216);
}

#his_hourly>ul>li:nth-child(4)>#por_Box>li:nth-child(2):before{
    content: none;
}

.subhead {
    font-size: 50px;
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: 600;
    margin: 0px 90px;
    padding-bottom: 6px;
    border-bottom: 2px solid rgb(223, 223, 223);
    margin-bottom: 50px;
}

.subhead>span {
    color: rgb(249, 103, 70);
}
#blogs {
    margin-bottom: 200px;
}
#blogs>ul {
    margin: 0px 90px;
    display: flex;
}

#blogs>ul>li>div {
    width: 500px;
    height: 400px;
    margin-bottom: 10px;
    background-color: rgb(232, 215, 208);
}

#blogs>ul>li>div:first-child {
    margin-right: 30px;
}
#blogs>ul>li>p,h3{
    font-family: 'Noto Sans KR', sans-serif;
}
#blogs>ul>li>p{
    text-align: center;
    font-size: 13px;
    font-weight: 400;
    color: rgb(223, 223, 223);
}

#blogs>ul>li>h3{
    text-align: center;
    font-size: 30px;
    font-weight: 600;
}
/* 
#resume {
    margin: 0px 150PX;
}
#resume >div {
    width: 900px;
    height: 300px;
    border: 2px solid rgb(223, 223, 223);
    box-sizing: border-box;
    background-color: rgb(232, 215, 208);
} */

#footer {
    height: 35px;
    text-align: center;
    font-family: 'Noto Sans KR', sans-serif;
    background-color: black;
    color: white;
    padding-top: 10px;
    font-size: 18px;
}